lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components
.venv
.pnpm-store

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/
cli/
out/

__pycache__/

/.yalc
yalc.lock

.vscode/settings.json
deck.json

# Ignore output folder

backend/out
